* {
  margin: 0;
  padding: 0;
  font-family: arial;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  overflow-x: hidden;
}

header {
  display: flex;
  padding: 1rem;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #999;
}

header ul {
  display: flex;
}

header ul li {
  margin: 0 1rem;
}

main {
  padding: 1.5rem;
}

.restaurant-list {
  margin: 1rem 0;
  padding: 0;
  list-style: none;
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(4, 1fr);
}

.restaurant-item {
  overflow: hidden;
  cursor: pointer;
  border-radius: 0.25rem;
  border: 0.0625rem solid #aaa;
}

.restaurant-img-wrapper {
  position: relative;
  aspect-ratio: 16 / 9;
}

.restaurant-img-wrapper img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.restaurant-details {
  padding: 0.5rem;
  h2 {
    font-size: 1rem;
  }
}

.shimmer.restaurant-list .restaurant-img-wrapper img {
  animation: loading infinite 4s;
}

.shimmer.restaurant-list .restaurant-details {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
}

.shimmer.restaurant-list .restaurant-details > * {
  height: 1rem;
  animation: loading infinite 4s;
}

@keyframes loading {
  0% {
    background: #dadada;
  }

  50% {
    background: #a29e9e;
  }

  100% {
    background: #dadada;
  }
}
